.videoContainer {
	display: inline-block;
	height: 100%;
	background-color: black;
	border: solid white 1px;
	overflow: hidden;
	padding: 0px;
}

.userDetails{
	position: absolute;
	color: white;
	text-align: center;
}
